*{
	padding:o;
	margin:0;
}
#bodycontent{
	width:950px;
	height:500px;
	margin:0 auto;
}
#bodycontent .work{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	
	
}
#bodycontent .text p{
	text-align:center;
	padding:18px;
	font-family:"MS Serif", "New York", serif;
	font-weight:bold;
	
}
#bodycontent .text p a{
	text-decoration:none;
	color:#000;
}
#bodycontent .text p a:hover{
	color:#F00;
}

#footer{
	clear:both;
	width:100%;
	height:300px;
	background-color:#333;
}
#footer .subtext1{
	width:940px;
	margin:0 auto;
	
}
#footer .subtext1 ul{
	padding-top:35px;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	
}
#footer .subtext1 ul li{
	list-style-type:none;
	
}
#footer .subtext1 ul li a:hover{
	color:#000;
}
#footer .subtext1 ul li a{
	text-decoration:none;
	color:#CCC;
}
#footer .text a{
	text-decoration:none;
	color:#FFF;
}
#footer .text a:hover{
	color:#000;
}
#footer .text p{
	float:right;
	margin-right:250px;
	background-color:#F00;
	color:#FFF;
	font-family:"Arial Black", Gadget, sans-serif;
	font-weight:bold;
	font-size:14px;
	padding:10px;
	
}